@import '~antd/es/style/themes/default.less';

  .x6-cell {
    cursor: default;
  }
  .x6-node .btn {
    cursor: pointer;
  }


  // @import 'src/assets/css/mixin.scss';
.wrap {
  width:100%;
  height:100%;
  .content {
    display: flex;
    height: 100%;
    .panel {
      flex: 1;
      height: 600px;
      .toolbar {
        display: flex;
        align-items: center;
        height: 40px;
        background-color: #f7f9fb;
        border-bottom: 1px solid rgba(0, 0, 0, 0.08);
      }
    }
    .config {
      box-sizing: border-box;
      height: 100%;
      padding: 0 24px;
      border-left: 1px solid rgba(0, 0, 0, 0.08);
    }
    .close {
      align-items: center;
      background: #fff;
      cursor: pointer;
      display: flex;
      font-size: 16px;
      justify-content: center;
      line-height: 40px;
      position: fixed;
      top: 50%;
      right: -40px;
      transform: translateY(-50%);
      text-align: center;
      z-index: 0;
      width:41px;
      height:40px;

      box-shadow: -6px 0 16px -8px rgb(0 0 0 / 8%),
        -9px 0 28px 0 rgb(0 0 0 / 5%), -12px 0 48px 16px rgb(0 0 0 / 3%);
    }
  }
}

.app-content {
  flex: 1;
  height: 600px;
  margin-left: 8px;
  margin-right: 8px;
  box-shadow: 0 0 10px 1px #e9e9e9;
}